.area-container{
    display: flex;
    justify-content: space-between;
    padding: 2% 7%;
}

.pie-chart{
    width: 50%;
    height: 30%;
}

.strong-weak{
    background: #000000;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    width: 45%;
    height: 45%;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    margin-top: 10%;
}

.strong{
    color: #26FF13;
}

.weak{
    color: #F74646;
}